.loginform {
  text-align: center;

  width: 100%;
  margin-top: 15rem;
}
.h1sign {
  font-size: 3rem;
  padding: 3rem;
}
.newacc {
  margin-bottom: 3rem;
}
.sbtn {
  width: 30%;
  height: 4rem;
  background-color: rgb(107, 255, 107);
  border: rgb(107, 255, 107);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.sbtn:hover {
  animation: upper 3sec ease-in-out;
}
@keyframes upper {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0rem);
  }
}

.input1 {
  width: 60%;
  font-size: 2rem;
  text-align: center;
}
